.profile {
  height: 400px;
	width: 100vw;
	max-width: 100%;
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fef7f4;
  background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");
}

.userDisplay {
  margin-top: 0;
  font-family: "bungee";
  font-size: 24px;
  font-weight: 500;
  font-variant-ligatures: historical-ligatures;
}

/*
COLORS USED 
e4f5e7
204d36
fef7f4
f97f58
*/

@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}